
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision


pytorch-lightning
lightning


torchmetrics


numpy
scikit-learn


wandb


matplotlib
huggingface_hub
pillow
pandas
pyarrow